<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="LibraryManagementSystemContext" connectionString="Data Source=localhost;Initial Catalog=QuanLyThuVien;Integrated Security=True"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="PresentationLayer" />

        <namespace name="PresentationLayer" />
        <namespace name="PresentationLayer.Forms" />

        <container>
            <register type="MyApplication" />
            <register type="LoginForm" />
            <register type="MainForm" />
        </container>
    </unity>
</configuration>